<a href="https://colab.research.google.com/github/raciel88p/learning-pandas/blob/main/datosFaltantesenDataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
#numero no definido
np.nan

nan

In [4]:
#tiene propiedad matematicas se pueden sumar
np.nan + 0

nan

In [5]:
np.nan > 0

False

In [6]:
#configurando pandas para que NaN pueda trabajar con texto
pd.options.mode.use_inf_as_na = True

In [7]:
pd.NA + 'hola mundo'

In [28]:
pd.NA| False

In [8]:
#creando un dataFrame
df = pd.DataFrame(np.arange(0, 15).reshape(5, 3), columns=['a', 'b', 'c'])
df

    a   b   c
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

In [9]:
#anadiendo variables no definidas
df['d'] = np.nan
df['e'] = np.arange(15, 20)
df.loc[5,:] = pd.NA
df.loc[4,'a'] = pd.NA
df.loc[0,'d'] = 1
df.loc[5,'d'] = 10
df

      a     b     c    d     e
0   0.0   1.0   2.0    1  15.0
1   3.0   4.0   5.0  NaN  16.0
2   6.0   7.0   8.0  NaN  17.0
3   9.0  10.0  11.0  NaN  18.0
4  <NA>  13.0  14.0  NaN  19.0
5  <NA>  <NA>  <NA>   10  <NA>

In [10]:
#para reconocer cuando un objeto es nulo usamos:
df.isnull()

       a      b      c      d      e
0  False  False  False  False  False
1  False  False  False   True  False
2  False  False  False   True  False
3  False  False  False   True  False
4   True  False  False   True  False
5   True   True   True  False   True

In [11]:
df.isna() #otra funcion similar a la anterior

       a      b      c      d      e
0  False  False  False  False  False
1  False  False  False   True  False
2  False  False  False   True  False
3  False  False  False   True  False
4   True  False  False   True  False
5   True   True   True  False   True

In [12]:
#Conocer el número de variables nulas por columna puede hacerse juntando el
#comando anterior con la funcion de suma:
df.isnull().sum()

a    2
b    1
c    1
d    4
e    1
dtype: int64

In [13]:
#Si lo que nos interesa es conocer el número de filas con elementos nulos, basta
#con usar axis=1:
df.isnull().sum(axis=1)

0    0
1    1
2    1
3    1
4    2
5    4
dtype: int64

In [14]:
#Conocer todos los elementos nulos de nuestro DataFrame:
df.size-df.isnull().sum().sum()

21

In [15]:
#conocer estos elementos nos puede ayudar a filtrar el dataframe y comprender mas nuestros datos
df[df['a'].notnull()]

     a     b     c    d     e
0  0.0   1.0   2.0    1  15.0
1  3.0   4.0   5.0  NaN  16.0
2  6.0   7.0   8.0  NaN  17.0
3  9.0  10.0  11.0  NaN  18.0

In [16]:
#Con la funcion dropna es facil eliminar elementos faltantes
df.dropna()

     a    b    c  d     e
0  0.0  1.0  2.0  1  15.0

In [17]:
#cambiando el elemento NaN por un cero con la funcion fillnan()
df.fillna(0)

     a     b     c   d     e
0  0.0   1.0   2.0   1  15.0
1  3.0   4.0   5.0   0  16.0
2  6.0   7.0   8.0   0  17.0
3  9.0  10.0  11.0   0  18.0
4  0.0  13.0  14.0   0  19.0
5  0.0   0.0   0.0  10   0.0

In [18]:
#podemos remplazar valores de NaN con method="ffill":
df.fillna(method="ffill")

     a     b     c   d     e
0  0.0   1.0   2.0   1  15.0
1  3.0   4.0   5.0   1  16.0
2  6.0   7.0   8.0   1  17.0
3  9.0  10.0  11.0   1  18.0
4  9.0  13.0  14.0   1  19.0
5  9.0  13.0  14.0  10  19.0

In [19]:
#Si quisieramos remplazar con el valor previo usamos method="bfill":
df.fillna(method="bfill")

      a     b     c   d     e
0   0.0   1.0   2.0   1  15.0
1   3.0   4.0   5.0  10  16.0
2   6.0   7.0   8.0  10  17.0
3   9.0  10.0  11.0  10  18.0
4  <NA>  13.0  14.0  10  19.0
5  <NA>  <NA>  <NA>  10  <NA>

In [20]:
#referente a lo anterior con otro metodo
df.fillna(method="bfill",axis=1)

      a     b     c     d     e
0   0.0   1.0   2.0   1.0  15.0
1   3.0   4.0   5.0  16.0  16.0
2   6.0   7.0   8.0  17.0  17.0
3   9.0  10.0  11.0  18.0  18.0
4  13.0  13.0  14.0  19.0  19.0
5  10.0  10.0  10.0  10.0  <NA>

In [21]:
# también una serie para reemplazar los valores de una columna en especifico pero es importante que esten emparejadas
fill = pd.Series([100, 101, 102])
fill

0    100
1    101
2    102
dtype: int64

In [22]:
df['d'] = df['d'].fillna(fill)
df['d']

0      1.0
1    101.0
2    102.0
3      NaN
4      NaN
5     10.0
Name: d, dtype: float64

In [23]:
#formas más usadas para reemplazar datos es usar el promedio de las columnas, esto se hace con la función mean. O si se quiere un mejor estimador, usamos median.
df.fillna(df.median())

     a     b     c      d     e
0  0.0   1.0   2.0    1.0  15.0
1  3.0   4.0   5.0  101.0  16.0
2  6.0   7.0   8.0  102.0  17.0
3  9.0  10.0  11.0   55.5  18.0
4  4.5  13.0  14.0   55.5  19.0
5  4.5   7.0   8.0   10.0  17.0

In [24]:
#Pandas también puede interporlar los valores faltanes calculando el valor que puede haber existido en el medio.
df_d = pd.concat([df[['d']], df[['d']].interpolate()],axis=1)
df_d.columns = ['d_antes','d_interpolado']
df_d

   d_antes  d_interpolado
0      1.0       1.000000
1    101.0     101.000000
2    102.0     102.000000
3      NaN      71.333333
4      NaN      40.666667
5     10.0      10.000000