<a href="https://colab.research.google.com/github/raciel88p/learning-pandas/blob/main/GrupBY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
Agrupando por una seria de elementos y sobre este aplicar diversas funciones


"""

In [ ]:
import pandas as pd
import numpy as np
pd.__version__

'1.1.5'

In [ ]:
#importamos una libreria de visualizacion
import seaborn as sns
df = sns.load_dataset('diamonds')
df
#base de datos de diamantes

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [ ]:
#aplicando la funcion group by
df.groupby('cut')
#crea un elemento de grupo

In [ ]:
#Aca podemos aplicar funciones para obtener el promedio
df.groupby('cut').mean()

              carat      depth      table  ...         x         y         z
cut                                        ...
Ideal      0.702837  61.709401  55.951668  ...  5.507451  5.520080  3.401448
Premium    0.891955  61.264673  58.746095  ...  5.973887  5.944879  3.647124
Very Good  0.806381  61.818275  57.956150  ...  5.740696  5.770026  3.559801
Good       0.849185  62.365879  58.694639  ...  5.838785  5.850744  3.639507
Fair       1.046137  64.041677  59.053789  ...  6.246894  6.182652  3.982770

[5 rows x 7 columns]

In [ ]:
#otros estimadore estadisticos que no esta sesgado por un liar
df.groupby('cut').median()

           carat  depth  table   price      x     y     z
cut
Ideal       0.54   61.8   56.0  1810.0  5.250  5.26  3.23
Premium     0.86   61.4   59.0  3185.0  6.110  6.06  3.72
Very Good   0.71   62.1   58.0  2648.0  5.740  5.77  3.56
Good        0.82   63.4   58.0  3050.5  5.980  5.99  3.70
Fair        1.00   65.0   58.0  3282.0  6.175  6.10  3.97

In [ ]:
#aplicar los datos anteriores a nivel de columnas
df.groupby('cut')['carat'].median()

cut
Ideal        0.54
Premium      0.86
Very Good    0.71
Good         0.82
Fair         1.00
Name: carat, dtype: float64

In [ ]:
#elegir varias funciones sobre el contar los datos que tenemos en la columnas para cada una de las categorias
df.groupby('cut')['carat'].count()

cut
Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: carat, dtype: int64

In [ ]:
#extrayendo el valor minimo 
df.groupby('cut')['carat'].min()

cut
Ideal        0.20
Premium      0.20
Very Good    0.20
Good         0.23
Fair         0.22
Name: carat, dtype: float64

In [ ]:
#el groupby son como paquetes que corren diversas funciones
for i in [0,1,2,3,4]:
  print(i)

0
1
2
3
4

In [ ]:
"Asi es como funciona un groupby  como un for loop de python"
#agrupamos por un solo parametro
for key_group, group in df.groupby('cut'): #cada uno de los grupo que se ha hido formando dentro del grupo cut
  grouped_price = group['price'].mean() #se ido conformado por el precio y el prodio de la tabla

  print('Cut: {}, Price: {} \n'.format(key_group, grouped_price))
  #se aplican funcines a nivel de bucles

In [ ]:
#agrupamos por varios parametros
df.groupby(['cut', 'color'])['price'].mean().to_frame()
#to_frame generamos un data frame de 2 elementos conn multiples indices

                       price
cut       color
Ideal     D      2629.094566
          E      2597.550090
          F      3374.939362
          G      3720.706388
          H      3889.334831
          I      4451.970377
          J      4918.186384
Premium   D      3631.292576
          E      3538.914420
          F      4324.890176
          G      4500.742134
          H      5216.706780
          I      5946.180672
          J      6294.591584
Very Good D      3470.467284
          E      3214.652083
          F      3778.820240
          G      3872.753806
          H      4535.390351
          I      5255.879568
          J      5103.513274
Good      D      3405.382175
          E      3423.644159
          F      3495.750275
          G      4123.482204
          H      4276.254986
          I      5078.532567
          J      4574.172638
Fair      D      4291.061350
          E      3682.312500
          F      3827.003205
          G      4239.254777
          H      5135.683168
          I      4685.445714
          J      4975.655462

In [ ]:
#podes crear nuestras propias funciones o pedier que se agregen nuevas funcionnes
# Utilizamos para eso agregate
df.groupby(['cut', 'color'])['price'].aggregate(['min',np.mean, max])

                 min         mean    max
cut       color
Ideal     D      367  2629.094566  18693
          E      326  2597.550090  18729
          F      408  3374.939362  18780
          G      361  3720.706388  18806
          H      357  3889.334831  18760
          I      348  4451.970377  18779
          J      340  4918.186384  18508
Premium   D      367  3631.292576  18575
          E      326  3538.914420  18477
          F      342  4324.890176  18791
          G      382  4500.742134  18741
          H      368  5216.706780  18795
          I      334  5946.180672  18823
          J      363  6294.591584  18710
Very Good D      357  3470.467284  18542
          E      352  3214.652083  18731
          F      357  3778.820240  18777
          G      354  3872.753806  18818
          H      337  4535.390351  18803
          I      336  5255.879568  18500
          J      336  5103.513274  18430
Good      D      361  3405.382175  18468
          E      327  3423.644159  18236
          F      357  3495.750275  18686
          G      394  4123.482204  18788
          H      368  4276.254986  18640
          I      351  5078.532567  18707
          J      335  4574.172638  18325
Fair      D      536  4291.061350  16386
          E      337  3682.312500  15584
          F      496  3827.003205  17995
          G      369  4239.254777  18574
          H      659  5135.683168  18565
          I      735  4685.445714  18242
          J      416  4975.655462  18531

In [ ]:
#vamos a definir una funcion
def mean_kilo(x):
  return np.mean(x)/1000

In [ ]:
df.groupby(['cut', 'color'])['price'].aggregate(['min',np.mean, max, mean_kilo]).head(10)
#aplicamos la funcion mean_kilo al grupo by y solo mostramos 10 columunas con los kilos respectivamente

               min         mean    max  mean_kilo
cut     color
Ideal   D      367  2629.094566  18693   2.629095
        E      326  2597.550090  18729   2.597550
        F      408  3374.939362  18780   3.374939
        G      361  3720.706388  18806   3.720706
        H      357  3889.334831  18760   3.889335
        I      348  4451.970377  18779   4.451970
        J      340  4918.186384  18508   4.918186
Premium D      367  3631.292576  18575   3.631293
        E      326  3538.914420  18477   3.538914
        F      342  4324.890176  18791   4.324890

In [ ]:
#podemos hacer un diccionario de instrucciones que podemos agregar dentro de aggregate
#crear varios calculos estadisticos para diferentes categorias
dict_agg = {'carat': [min, max], 'price' :[np.mean, mean_kilo]}
dict_agg
#tiene como llave las columnas donde vamos aplicar nuestras funciones

{'carat': [<function min>, <function max>],
 'price': [<function numpy.mean>, <function __main__.mean_kilo>]}

In [ ]:
df.groupby(['cut', 'color']).aggregate(dict_agg).head(10)
#agrupamos por el corte y color y con la variable dicionario  y las llaves llamamos el min y el maximo y por otro lado el promedio y el kilo

              carat              price
                min   max         mean mean_kilo
cut     color
Ideal   D      0.20  2.75  2629.094566  2.629095
        E      0.20  2.28  2597.550090  2.597550
        F      0.23  2.45  3374.939362  3.374939
        G      0.23  2.54  3720.706388  3.720706
        H      0.23  3.50  3889.334831  3.889335
        I      0.23  3.22  4451.970377  4.451970
        J      0.23  3.01  4918.186384  4.918186
Premium D      0.20  2.57  3631.292576  3.631293
        E      0.20  3.05  3538.914420  3.538914
        F      0.20  3.01  4324.890176  4.324890

In [ ]:
#otra funcionalidad que podemos crear es crear filtros
def f_filtro(x):
  return mean_kilo(x['price']) > 4

In [ ]:
df.groupby('cut').filter(f_filtro)

       carat      cut color clarity  depth  table  price     x     y     z
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
8       0.22     Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
12      0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
14      0.20  Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53928   0.79  Premium     E     SI2   61.4   58.0   2756  6.03  5.96  3.68
53930   0.71  Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74

[15401 rows x 10 columns]