<a href="https://colab.research.google.com/github/raciel88p/learning-pandas/blob/main/indexado_y_manejo_de_archivos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install --upgrade pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
#dando permiso a Colab importar archivos
from google.colab import drive
drive.mount("/content/drive")
# va aparecer un enlace y se la click al enlace

Mounted at /content/drive

In [3]:
#accediendo dentro de google drive con colabs
%cd '/content/drive/My Drive/Colab Notebooks'
!ls
 # nos permite ver que hay dentro de la carpeta

/content/drive/My Drive/Colab Notebooks
'Aggregation y groupby con Pandas.ipynb'
 ConcatenandoDataFrames.ipynb
'Content optimization with IA'
'Copia de Demo: Scale SERP.ipynb'
'Copia de Hands-on Introduction to Machine Learning for SEOs.ipynb'
'Copia de Te damos la bienvenida a Colaboratory'
' datos duplicados en Pandas.ipynb'
 datosFaltantesenDataFrame.ipynb
 db
 Examen
 Get-Wikipedia-Infos.ipynb
 GrupBY.ipynb
'indexado y manejo de archivos.ipynb'
 mergeenPandas.ipynb
'mi primer dataframe'
 new-md.csv
 new-md.gsheet
'practica python.ipynb'
 programas
 rutina_de_como_analizar_datos_con_pandas.ipynb
 seriesdeTiempoPython.ipynb
 Test.gsheet
 test_platzi.ipynb

In [4]:
#como almacenar mas rapido la infomcion en un string
"hola {}".format("bla bla bla bla bla")

'hola bla bla bla bla bla'

In [5]:
#creando una carpeta donde se deben guardar los archivos
!mkdir /content/drive/My\ Drive/Colab\ Notebooks/db

mkdir: cannot create directory ‘/content/drive/My Drive/Colab Notebooks/db’: File exists

In [6]:
#variable donde se guardan los archivos
var_archivos = "/content/drive/My Drive/Colab Notebooks/db/{}".format("test.csv") #tener cuidado con la ruta de la direccon

In [7]:
#validando de nuevo la version de pandas
import pandas as pd
pd. __version__
import numpy as np

In [8]:
dic = { #las varibles no pueden tener numeros y creando una tabla con variedad de datos y tiene que tener la misma cantidad de valores
    "edad": [10, 12, 14, 16, 18, 58],
    "Cm":   [155, 163, 183, 189, 98, 85],
    "pais": ["co", "pa", "cr", "ni", "US", "Ir"],
    "genero":["M", "F", "M", "F", "M", "M"],
    "Q1":[5, 10, 8, np.nan, 7, 8,],
    "Q2":[7, 9, 9, 8, 8, 8]

} 
dic

{'Cm': [155, 163, 183, 189, 98, 85],
 'Q1': [5, 10, 8, nan, 7, 8],
 'Q2': [7, 9, 9, 8, 8, 8],
 'edad': [10, 12, 14, 16, 18, 58],
 'genero': ['M', 'F', 'M', 'F', 'M', 'M'],
 'pais': ['co', 'pa', 'cr', 'ni', 'US', 'Ir']}

In [9]:
df = pd.DataFrame(dic) #creamos el data frame
df

   edad   Cm pais genero    Q1  Q2
0    10  155   co      M   5.0   7
1    12  163   pa      F  10.0   9
2    14  183   cr      M   8.0   9
3    16  189   ni      F   NaN   8
4    18   98   US      M   7.0   8
5    58   85   Ir      M   8.0   8

In [10]:
#vamos a guardar el data Frame en el drive con la siguiente ruta
var_archivos = "/content/drive/My Drive/Colab Notebooks/db/{}".format("test.csv")
var_archivos

'/content/drive/My Drive/Colab Notebooks/db/test.csv'

In [11]:
#guardar el data frame en Google Drive sin guardar el index del archivo por default  de data Frame
df.to_csv(var_archivos, index = False)

In [12]:
#Vamos a validar que se guardara el archivo  en Google Drive
!ls /content/drive/My Drive/Colab Notebooks/db

ls: cannot access '/content/drive/My': No such file or directory
ls: cannot access 'Drive/Colab': No such file or directory
ls: cannot access 'Notebooks/db': No such file or directory

In [13]:
#instrucciones para leer ese archivo
df_read = pd.read_csv('/content/drive/My Drive/Colab Notebooks/db/test.csv', sep="/") #la nomeclatura impor es csv
df_read

  edad,Cm,pais,genero,Q1,Q2
0         10,155,co,M,5.0,7
1        12,163,pa,F,10.0,9
2         14,183,cr,M,8.0,9
3            16,189,ni,F,,8
4          18,98,US,M,7.0,8
5          58,85,Ir,M,8.0,8

In [14]:
# Diferentes formatos para guardar un archivo, que no sea una coma sino una /
df.to_csv(var_archivos, sep="/" , index = False)

In [15]:
#creando otro archivos pero en excel y vmos a guardar en que directorio almacenamos otros archivos
var_archivos = "/content/drive/My Drive/Colab Notebooks/db/{}"
var_archivos

'/content/drive/My Drive/Colab Notebooks/db/{}'

In [16]:
#creando un excel
df.to_excel(var_archivos.format("test.xlsx"), index = "False", sheet_name = "Hoja_uno") #sin index y hoja interna llamada hoja_uno
var_archivos.format('test.xlsx') #esta instruccion me hacia falta para crear el archivo de excel

'/content/drive/My Drive/Colab Notebooks/db/test.xlsx'

In [17]:
!pip install --upgrade pandas #actualizar pandas
pd. __version__

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

'1.3.5'

In [18]:
#para leer un archivo excel en Colab
pd.read_excel(var_archivos.format('test.xlsx'))

   Unnamed: 0  edad   Cm pais genero    Q1  Q2
0           0    10  155   co      M   5.0   7
1           1    12  163   pa      F  10.0   9
2           2    14  183   cr      M   8.0   9
3           3    16  189   ni      F   NaN   8
4           4    18   98   US      M   7.0   8
5           5    58   85   Ir      M   8.0   8

In [19]:
#creando un formato json
df.to_json(var_archivos.format("test.json")) #llamando un archivo en json
var_archivos.format('test.json') #esta instruccion me hacia falta para crear el archivo de excel

'/content/drive/My Drive/Colab Notebooks/db/test.json'

In [20]:
#para leer un archivo en json
pd.read_json(var_archivos.format("test.json"))

   edad   Cm pais genero    Q1  Q2
0    10  155   co      M   5.0   7
1    12  163   pa      F  10.0   9
2    14  183   cr      M   8.0   9
3    16  189   ni      F   NaN   8
4    18   98   US      M   7.0   8
5    58   85   Ir      M   8.0   8

In [21]:
#llamando formato pickle
df.to_pickle(var_archivos.format("test.pickle")) #llamando un archivo en pickle
var_archivos.format('test.pickle') #esta instruccion me hacia falta para crear el archivo de pickle

'/content/drive/My Drive/Colab Notebooks/db/test.pickle'

In [22]:
#para leerlo
pd.read_pickle(var_archivos.format("test.pickle"))

   edad   Cm pais genero    Q1  Q2
0    10  155   co      M   5.0   7
1    12  163   pa      F  10.0   9
2    14  183   cr      M   8.0   9
3    16  189   ni      F   NaN   8
4    18   98   US      M   7.0   8
5    58   85   Ir      M   8.0   8

In [23]:
#big data con parquet
df.to_parquet(var_archivos.format("test.parquet")) #llamando un archivo en parquet cuiado con el to_
var_archivos.format('test.parquet') #esta instruccion me hacia falta para crear el archivo de parquet

'/content/drive/My Drive/Colab Notebooks/db/test.parquet'

In [24]:
#leer el archivo parquet
pd.read_parquet(var_archivos.format("test.parquet"))

   edad   Cm pais genero    Q1  Q2
0    10  155   co      M   5.0   7
1    12  163   pa      F  10.0   9
2    14  183   cr      M   8.0   9
3    16  189   ni      F   NaN   8
4    18   98   US      M   7.0   8
5    58   85   Ir      M   8.0   8

In [25]:
#para ambientes de big data
df.to_hdf(var_archivos.format("test.hdf"),key="data",format="table") #llamando un archivo en hdf cuiado con el to_
var_archivos.format('test.hdf') #esta instruccion me hacia falta para crear el archivo de hdf

'/content/drive/My Drive/Colab Notebooks/db/test.hdf'

In [26]:
#leer el archivo hdf
pd.read_hdf(var_archivos.format("test.hdf"))

   edad   Cm pais genero    Q1  Q2
0    10  155   co      M   5.0   7
1    12  163   pa      F  10.0   9
2    14  183   cr      M   8.0   9
3    16  189   ni      F   NaN   8
4    18   98   US      M   7.0   8
5    58   85   Ir      M   8.0   8