<a href="https://colab.research.google.com/github/raciel88p/learning-pandas/blob/main/mergeenPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install --upgrade pandas
import pandas as pd
pd.__version__

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

'1.3.5'

In [3]:
#definiendo 2 data frames 
#aca tenemos un dicionario dentro hay una lista de elementos
   
dataframe_izq = pd.DataFrame (
     {'x':['x0','x1','x2','x3'],
      'y':['y0','y1','y2','y3'],
      'w':['w0','w1','w2','w3']},
      #'Mix':['y2','y3','a2','a3']}, quitamos esta seccion para probar los otros formas
    index = [0, 1, 2, 3])

dataframe_izq

    x   y   w
0  x0  y0  w0
1  x1  y1  w1
2  x2  y2  w2
3  x3  y3  w3

In [5]:
dataframe_der = pd.DataFrame ( #aca tenemos un dicionario dentro hay una lista de elementos
    {'a':['a2','b3','c4','d5'],
    'b':['b2','b3','b4','b5'],
    'y':['y2','y3','y4','y5']},
    index = [2, 3, 4, 5])

dataframe_der

    a   b   y
2  a2  b2  y2
3  b3  b3  y3
4  c4  b4  y4
5  d5  b5  y5

In [6]:
#funcion de merge de pandas
pd.merge(dataframe_izq, dataframe_der)

    x   y   w   a   b
0  x2  y2  w2  a2  b2
1  x3  y3  w3  b3  b3

In [7]:
#se tiene que especificar el tipo de union que se hace
pd.merge(dataframe_izq, dataframe_der, how='inner', on = 'y')

    x   y   w   a   b
0  x2  y2  w2  a2  b2
1  x3  y3  w3  b3  b3

In [19]:
#uniendo la columna y con la columna mix
pd.merge(dataframe_izq, dataframe_der, how='inner', left_on = 'mix', right_on='y')
# se unifica por la columna  mix a la izquierda con la columna y por la derecha

KeyError: ignored

In [20]:
#unir los data frame por el caso contrario
pd.merge(dataframe_izq, dataframe_der, how='inner', left_on = 'Mix', right_on='a')

KeyError: ignored

In [ ]:
#cantindad de merge que podemos tener
"""
how = 'inner' trae los parametros que tienen en comun los data frames
how = 'outer' une todos los datos de los 2 data frames
how = 'left' une los datos pero se respeta el data frame de la izquierda
how = 'rigth' une los datos pero se respeta el data frame de la derecha
"""

"\nhow = 'inner' trae los parametros que tienen en comun los data frames\nhow = 'outer' une todos los datos de los 2 data frames\nhow = 'lef' une los datos pero se respeta el data frame de la izquierda\nhow = 'rigth' une los datos pero se respeta el data frame de la derecha\n"

In [12]:
#primer merge con inner
pd.merge(dataframe_izq, dataframe_der, how='inner', left_on = 'y', right_on='y')

    x   y   w   a   b
0  x2  y2  w2  a2  b2
1  x3  y3  w3  b3  b3

In [13]:
pd.merge(dataframe_izq, dataframe_der, how='left', left_on = 'y', right_on='y')
#se mantine el data frame de la iznquierda pero se anaden el data set de la derecha

    x   y   w    a    b
0  x0  y0  w0  NaN  NaN
1  x1  y1  w1  NaN  NaN
2  x2  y2  w2   a2   b2
3  x3  y3  w3   b3   b3

In [14]:
pd.merge(dataframe_izq, dataframe_der, how='right', left_on = 'y', right_on='y')
#se mantiene el data frame de la derecha y solo se agregan los datos de la izquirda

     x   y    w   a   b
0   x2  y2   w2  a2  b2
1   x3  y3   w3  b3  b3
2  NaN  y4  NaN  c4  b4
3  NaN  y5  NaN  d5  b5

In [15]:
#mantener tanto los datos de la izquierda como los de la derecha
pd.merge(dataframe_izq, dataframe_der, how='outer', left_on = 'y', right_on='y')

     x   y    w    a    b
0   x0  y0   w0  NaN  NaN
1   x1  y1   w1  NaN  NaN
2   x2  y2   w2   a2   b2
3   x3  y3   w3   b3   b3
4  NaN  y4  NaN   c4   b4
5  NaN  y5  NaN   d5   b5

In [16]:
#otro tipo de merge
dataframe_izq = pd.DataFrame (
     {'x':['x0','x1','x2','x3'],
      'y':['y0','y1','y2','y3'],
      'w':['w0','w1','w2','w3'],
      'a':['a0','a1','a2','a3']},
    index = [0, 1, 2, 3])

dataframe_izq

    x   y   w   a
0  x0  y0  w0  a0
1  x1  y1  w1  a1
2  x2  y2  w2  a2
3  x3  y3  w3  a3

In [17]:
dataframe_der

    a   b   y
2  a2  b2  y2
3  b3  b3  y3
4  c4  b4  y4
5  d5  b5  y5

In [18]:
#uniendo los data frame pero de otra manera
pd.merge(dataframe_izq, dataframe_der, how='outer', on=['a'], suffixes=['_left','_right'])
#pandas lo puede hacer sin intificar el on, pero es importante cual es la columna o las colunnas que van hacer la union, con suffiex se le cambia la nomeclatura a los rows del dataFrame

     x y_left    w   a    b y_right
0   x0     y0   w0  a0  NaN     NaN
1   x1     y1   w1  a1  NaN     NaN
2   x2     y2   w2  a2   b2      y2
3   x3     y3   w3  a3  NaN     NaN
4  NaN    NaN  NaN  b3   b3      y3
5  NaN    NaN  NaN  c4   b4      y4
6  NaN    NaN  NaN  d5   b5      y5